astroid==1.5.2
click==6.7
Flask==0.12.1
isort==4.2.5
itsdangerous==0.24
Jinja2==2.9.6
lazy-object-proxy==1.2.2
MarkupSafe==1.0
mccabe==0.6.1
pylint==1.7.1
pymongo==3.4.0
six==1.10.0
Werkzeug==0.12.1
wrapt==1.10.10
